:root {
  font-family: 'Sarabun', sans-serif;
  letter-spacing: 0.02em;
}

#mainContainer {
  width: fit-content; margin: auto; display: block; text-align: center;
}

#question {
  font-weight: 700; font-size: 120%;
  margin-bottom: 0.5em;
}

#answer {
  visibility: hidden;
  margin-top: 0.5em;
}

#answerfield {
  border-radius: 2px; outline: solid 2px grey
}

#answerfield:focus {
  border-radius: 2px; outline: solid 2px SkyBlue
}

#editlink, #goBackLink {
  margin-top: 1.5em;
}

#seperatorOptionContainer {
  display: block;
  margin: auto;
}

#ulContainer {
  display: block;
  margin: auto;
  width: fit-content;
  text-align: left;
}
#ulContainer > ul {
  padding-left: 1em;
}

#simpleGuide {
  width: 14em; 
  margin: auto;
}

#guideContent {
  background-color: color-mix(in srgb, dimgrey, black 50%);
  border-radius: 2px; padding: 1px 0px;
  margin: 0.8em 0;
}




#lightblue {
  color: SkyBlue;
}
#yellow {
  color: Gold;
}
#red {
  color: Tomato;
}
#green {
  color: #35a854;
}